# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\go_lix\FileServer-Golang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
